/* src/components/Header.css */

.header-artista {
  background-color: #DABEC3;
  background-image: url(../../assets/1742315860763.jpg);
  background-size:cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #B84A3C;
  padding: 8.5rem 1rem;
  text-align: center;
  border-bottom: 5px solid #F6E5B3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-artista{
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: rgba(222, 203, 56, 0.2) /* solo si querés fondo visible */
}

.titulo-principal {
  font-size: 3rem;
  margin: 0;
  font-family: 'Georgia', serif;
  letter-spacing: 2px;
}

.subtitulo {
  font-family: 'Great Vibes';
  font-size: 1.8rem;
  color: #F6E5B3;
  margin-top: 0.5rem;
  /* font-style: italic; */
  text-shadow: 1px 5px 10px #B84A3C;
}
