  
  .navbar {
    background: linear-gradient(
        to bottom,
        rgba(255, 229, 79, 0.9),  /* Color arriba (blanco semitransparente) */
        rgba(255, 255, 255, 0)     /* Color abajo (totalmente transparente) */
    );
    padding: 1rem 2rem;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(10px); 
    transition: all 0.3s ease;
  }

  .navbar.sticky {
    position: fixed;
    background: rgba(255, 229, 79, 0.7);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  }

  .navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #152614;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #ff4081;
  }

  
.carrito-logo {
  display: flex;
  align-items: center;
  color: #333; /* Color del ícono */
  transition: color 0.3s ease;
}
