@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

/* body {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Raleway;
   background: #808080;
   margin-top: 10rem;
} */
.jukebox-container{
    margin-top: 12rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20rem;
}

.jukebox {
   margin-top: 20rem;
   width: 300px;
   height: 500px;
   background: #121212;
   position: absolute;
   border-radius: 20% 20% 0 0;
   background: linear-gradient(
      270deg,
      #53e1bc,
      #e1e882,
      #e88282,
      #82e7e8,
      #c882e8,
      #e8b482
   );
   background-size: 1200% 1200%;
   animation: juke 30s ease infinite;
}

.jukebox1 {
   width: 300px;
   height: 300px;
   position: absolute;
   border-radius: 50%;
   margin-top: -4rem;
   background: linear-gradient(
      270deg,
      #53e1bc,
      #e1e882,
      #e88282,
      #82e7e8,
      #c882e8,
      #e8b482
   );
   background-size: 1200% 1200%;
   animation: juke 40s ease infinite;
}

@keyframes juke {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

@keyframes blink {
   0%,
   100% {
      transform: scale(1, 0.05);
   }
   5%,
   95% {
      transform: scale(1, 1);
   }
}

@keyframes note {
   0% {
      transform: rotate(40deg);
   }
   50% {
      transform: rotate(-40deg);
      margin-top: 1.5rem;
   }
   100% {
      transform: rotate(40deg);
   }
}

.base {
   width: 250px;
   height: 500px;
   position: absolute;
   background: #121212;
   margin-left: 1.5rem;
   border-radius: 25% 25% 0 0;
   z-index: 1;
}

.base1 {
   width: 250px;
   height: 250px;
   position: absolute;
   background: #121212;
   border-radius: 50%;
   margin-top: -2rem;
}

.lside {
   width: 32px;
   height: 80px;
   position: absolute;
   background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
   margin-top: 26rem;
   margin-left: -2rem;
   border-radius: 5px;
}

.lside1 {
   width: 30px;
   height: 105px;
   position: absolute;
   background: #121212;
   margin-top: -0.5rem;
   margin-left: 0.2rem;
   z-index: -1;
   border-radius: 5px;
}

.rside {
   width: 32px;
   height: 80px;
   position: absolute;
   background: linear-gradient(to left, rgb(0, 0, 0), rgb(67, 67, 67));
   margin-top: 26rem;
   margin-left: 15.6rem;
   border-radius: 5px;
}

.rside1 {
   width: 30px;
   height: 105px;
   position: absolute;
   background: #121212;
   margin-top: -0.5rem;
   z-index: -1;
   border-radius: 5px;
}

.detail {
   width: 1px;
   height: 80px;
   position: absolute;
   background: silver;
   margin-left: 8px;
   opacity: 0.5;
}

.detail1 {
   width: 1px;
   height: 80px;
   position: absolute;
   background: silver;
   margin-left: 18px;
   opacity: 0.5;
}

.detail2 {
   width: 1px;
   height: 80px;
   position: absolute;
   background: silver;
   margin-left: 29px;
   opacity: 0.5;
}

.detail3 {
   width: 1px;
   height: 80px;
   position: absolute;
   background: silver;
   margin-left: 22px;
   opacity: 0.5;
}

.detail4 {
   width: 1px;
   height: 80px;
   position: absolute;
   background: silver;
   margin-left: 12px;
   opacity: 0.5;
}

.detail5 {
   width: 1px;
   height: 80px;
   position: absolute;
   background: silver;
   margin-left: 3px;
   opacity: 0.5;
}

.trim {
   width: 250px;
   height: 10px;
   position: absolute;
   background: linear-gradient(
      to top,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: 4rem;
   margin-left: 2rem;
}

.trim1 {
   width: 250px;
   height: 3px;
   position: absolute;
   background: linear-gradient(
      to top,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: 3.5rem;
   margin-left: 2rem;
}

.que {
   width: 200px;
   height: 200px;
   position: absolute;
   background: linear-gradient(
      to bottom,
      rgb(201, 214, 255),
      rgb(226, 226, 226)
   );
   z-index: 1;
   margin-top: 3.5rem;
   margin-left: 3rem;
   border-radius: 50%;
}

.eye {
   width: 10px;
   height: 10px;
   position: absolute;
   background: #121212;
   border-radius: 50%;
   margin-top: 3rem;
   margin-left: 3rem;
   animation: blink 3s infinite;
}

.eye1 {
   width: 10px;
   height: 10px;
   position: absolute;
   background: #121212;
   border-radius: 50%;
   margin-top: 3rem;
   margin-left: 8.5rem;
   animation: blink 3s infinite;
}

.mouth {
   width: 20px;
   height: 20px;
   position: absolute;
   background: none;
   margin-top: 3rem;
   margin-left: 5.6rem;
   border-radius: 10px 10px 20px 20px;
   border-bottom: 2px solid #121212;
}

.lbar {
   width: 35px;
   height: 15px;
   position: absolute;
   background: linear-gradient(
      to left,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: 10rem;
   margin-left: -3.4rem;
   border-radius: 5px 5px 5px 10px;
}

.lbar1 {
   width: 35px;
   height: 15px;
   position: absolute;
   background: linear-gradient(
      to left,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: 8.8rem;
   margin-left: -3.4rem;
   border-radius: 5px 5px 5px 10px;
}

.lbar2 {
   width: 35px;
   height: 15px;
   position: absolute;
   background: linear-gradient(
      to left,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: 7.6rem;
   margin-left: -3.4rem;
   border-radius: 5px 5px 5px 10px;
}

.lbar3 {
   width: 35px;
   height: 15px;
   position: absolute;
   background: linear-gradient(
      to right,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: 7.6rem;
   margin-left: 13.9rem;
   border-radius: 5px 5px 10px 5px;
}

.lbar4 {
   width: 35px;
   height: 15px;
   position: absolute;
   background: linear-gradient(
      to right,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: 8.8rem;
   margin-left: 13.9rem;
   border-radius: 5px 5px 10px 5px;
}

.lbar5 {
   width: 35px;
   height: 15px;
   position: absolute;
   background: linear-gradient(
      to left,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: 10rem;
   margin-left: 13.9rem;
   border-radius: 5px 5px 10px 5px;
}

.tbar {
   width: 15px;
   height: 35px;
   position: absolute;
   background: linear-gradient(
      to bottom,
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
   );
   margin-top: -3.6rem;
   margin-left: 5.72rem;
   border-radius: 5px;
}

.que1 {
   width: 180px;
   height: 70px;
   margin-top: 6rem;
   border-left: 10px solid silver;
   border-right: 10px solid silver;
   border-radius: 0px 0px 10px 10px;
   position: absolute;
   background-color: #eaeaea;
   background-image: url("data:image/svg+xml,%3Csvg width='5' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23000000' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.speaker {
   width: 150px;
   height: 55px;
   position: absolute;
   background-color: #000000;
   background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
   margin-top: 4.4rem;
   margin-left: 0.9rem;
}

.coin {
   width: 30px;
   height: 30px;
   position: absolute;
   background: silver;
   margin-left: 10rem;
   margin-top: 1rem;
   border-radius: 2px;
}

.coin p {
   font-size: 9.5px;
   margin-top: -0.5px;
   font-weight: bold;
}

.coinhole {
   width: 3px;
   height: 15px;
   position: absolute;
   background: #121212;
   margin-top: 12px;
   margin-left: 1.5rem;
}

.selection {
   width: 30px;
   height: 30px;
   position: absolute;
   background: silver;
   margin-left: -2.3rem;
   margin-top: 1rem;
   border-radius: 2px;
}

.flip {
   width: 10px;
   height: 3px;
   position: absolute;
   background: #121212;
   margin-top: 5px;
}

.flip1 {
   width: 10px;
   height: 3px;
   position: absolute;
   background: #121212;
   margin-top: 5px;
   margin-left: 20px;
}

.selection p {
   font-size: 9px;
   text-align: center;
   font-weight: bold;
   margin-top: 15px;
}

.center {
   width: 200px;
   height: 200px;
   position: absolute;
   background: linear-gradient(
      270deg,
      #53e1bc,
      #e1e882,
      #e88282,
      #82e7e8,
      #c882e8,
      #e8b482
   );
   background-size: 1200% 1200%;
   animation: juke 30s ease infinite;
   margin-top: 17rem;
   border-radius: 50%;
}

.center1 {
   width: 200px;
   height: 150px;
   position: absolute;
   border-radius: 5px 5px 0px 0px;
   background: linear-gradient(
      270deg,
      #53e1bc,
      #e1e882,
      #e88282,
      #82e7e8,
      #c882e8,
      #e8b482
   );
   background-size: 1200% 1200%;
   animation: juke 30s ease infinite;
   margin-top: -3rem;
}

.center2 {
   width: 150px;
   height: 150px;
   position: absolute;
   background-color: #000000;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
   margin-left: 1.5rem;
   margin-top: -3rem;
   z-index: 1;
}

.center3 {
   width: 150px;
   height: 150px;
   position: absolute;
   background-color: #000000;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
   border-radius: 50%;
   margin-top: 4.5rem;
}

.innerbar {
   width: 25px;
   height: 10px;
   position: absolute;
   background: linear-gradient(to left, rgb(0, 0, 0), rgb(67, 67, 67));
   margin-top: 5rem;
   margin-left: -1.5rem;
   border-radius: 0px 0px 10px 0px;
}

.innerbar1 {
   width: 26px;
   height: 10px;
   position: absolute;
   background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
   margin-top: 5rem;
   margin-left: 9.4rem;
   border-radius: 0px 0px 0px 10px;
}

.innerbar2 {
   width: 26px;
   height: 10px;
   position: absolute;
   background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
   margin-top: 9.9rem;
   margin-left: 3.9rem;
   transform: rotate(90deg);
}

.star {
   width: 50px;
   height: 50px;
   position: absolute;
   background: silver;
   border: 1px solid white;
   margin-left: 3.1rem;
   margin-top: 5.5rem;
   border-radius: 50%;
}

#cstare {
   margin-top: 0px;
}

.notes {
   position: absolute;
   margin-left: -5rem;
   /* visibility: hidden; */
}

#note,
#note1,
#note2,
#note3 {
   animation: note 1s infinite;
}

#note1 {
   position: absolute;
   margin-top: -2rem;
   margin-left: -6rem;
}

#note2 {
   position: absolute;
   margin-top: 2rem;
   margin-left: 25rem;
}

#note3 {
   position: absolute;
   margin-top: -1rem;
   margin-left: 30rem;
}

/* estilos vinilo */
.discos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.disco {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    border: 5px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 0;
  }
  
  .girando {
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .hole {
    position: absolute;
    width: 20px; /* tamaño del agujero */
    height: 20px;
    background: red; /* color del agujero */
    border-radius: 50%;
    z-index: -1; /* para que esté encima */
  }
  