  
  .navbar {
    background: linear-gradient(
        to bottom,
        rgba(255, 229, 79, 0.9),  /* Color arriba (blanco semitransparente) */
        rgba(255, 255, 255, 0)     /* Color abajo (totalmente transparente) */
    );
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
    backdrop-filter: blur(10px); 
    transition: all 0.3s ease;
  }

  .navbar, .sticky{
    height: 20px;
  }

  .logoutButton{
    background-color: orange;
    opacity: 60%;
    padding: 7px;
    border-radius: 15%;
  }
  .sticky {
    /* position: fixed; */
    background: rgba(255, 229, 79, 0.7);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  }

  .navbarLinks {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbarLinks li a {
    text-decoration: none;
    color: #152614;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .navbarLinks li a:hover {
    color: #ff4081;
  }

  
.carritoLogo {
  display: flex;
  align-items: center;
  color: #333; /* Color del ícono */
  transition: color 0.3s ease;
}
