.merch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.item-title {
    grid-column: 2;
    grid-row: 1;
  }
  .item-price {
    grid-column: 2;
    grid-row: 2;
  }
  .item-description {
    grid-column: 2;
    grid-row: 3;
  }
  

.merch-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 500px;
    height: auto;
    margin: 10px;
    background-color: rgba(173, 216, 230, 0.537);
}
.item-image{
    grid-column: 1;
    grid-row: 1/4; /* para ocupar las 3 filas. desde la primera a la cuarta línea */
    width: 100%;
    height: 100%;
    object-fit: cover; /* o contain para ver toda la imagen */
}