.carritoContainer {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    font-family: 'Segoe UI', sans-serif;
}

.carritoTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.carritoItem {
    cursor: pointer;
    background-color: #fafa64;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform 0.2s ease;
    overflow: hidden;
}

.carritoItem::after {
    content: "";
    display: block;
    clear: both;
}

.carritoItem:hover {
    transform: translateY(-3px);
}

.carritoItem h3 {
    margin-bottom: 0.8rem;
    color: #333;
}

.carritoItem p {
    margin: 0.3rem 0;
    color: #555;
}

.carritoButtons{
    float: right;
    margin: 2px;
}

.carritoEmpty {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    margin-top: 2rem;
}
