.siteInicio {
    /* background-color:hwb(from color h w b); */
    background-image: url('/assets/InicioBackground.jpeg');
    color: white;
    padding: 300px 20px;
    text-align: center;
    position: relative;
  }

  .inicioContent {
    max-width: 800px;
    margin: 0 auto;
    backdrop-filter: brightness(0.7);
  }
  
  .siteInicio h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .siteInicio p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .inicioBtn {
    background-color: #ff6600;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .inicio-Btn:hover {
    background-color: #e65500;
  }
  
  /* iframes styles */
  .reproductor {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 300px;
  }


  .reproformContainer{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }